html {
  height: 100%;
  background: #f3fff3;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #444;
}
body h2, body h1 {
  text-align: center;
  font-family: "Lobster", cursive;
}
body h1 {
  font-size: 3em;
  color: #1b6241;
}
body h2 {
  font-size: 1.6em;
  line-height: 3em;
  color: #fff;
  background: #1b6241;
}

div.interface {
  max-width: 900px;
  margin: 0 auto;
}
div.interface .droite, div.interface .gauche {
  float: left;
  box-sizing: border-box;
  margin: 0 1%;
  padding: 0 0 10px 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
div.interface .gauche {
  width: 28%;
  border-radius: 0 0 25px 25px;
}
div.interface .droite {
  width: 68%;
  min-height: 672px;
  background: url(../images/background_plateau.jpg) #fff no-repeat right bottom;
}
div.interface .plateau {
  width: 100%;
  text-align: center;
}
div.interface .informations {
  margin: 0 auto;
}

#encart_victoire input[type=submit], #rejouer {
  width: 80%;
  margin: 1em auto;
  color: #fff;
  background: #9f232a;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  transition: all 0.1s linear;
  cursor: pointer;
}
#encart_victoire input[type=submit]:hover, #rejouer:hover {
  background: #fff;
  color: #8a1e24;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ligne_joueur {
  height: 40px;
  line-height: 40px;
  width: 90%;
  margin: 0 auto 15px;
}
.ligne_joueur .score, .ligne_joueur .joueur {
  float: left;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}
.ligne_joueur .joueur {
  width: 67%;
  font-size: 0.8em;
  background: #99e3c1;
  color: #1b6241;
  border-radius: 50px 0 0 50px;
}
.ligne_joueur .score {
  width: 33%;
  font-weight: bold;
  font-size: 1.2em;
  background: #1b6241;
  color: #fff;
  border-radius: 0 50px 50px 0;
  font-family: "Lobster", cursive;
}

.carte {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #fff;
  background-size: 100% auto;
  cursor: pointer;
  border: none;
  margin: 5px;
  background-image: url(../images/back_card.jpg);
  transition: box-shadow 0.1s linear;
}
.carte:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.carte.visible {
  background-image: url(../images/cards.png);
}
.carte.validee {
  background-image: url(../images/cards.png);
  opacity: 0.5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.jauge #temps, .jauge #barreProgression, .jauge {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.jauge {
  width: 530px;
  margin: 1em auto;
  background: #e68e93;
  position: relative;
}
.jauge #barreProgression {
  background: #9f232a;
}
.jauge #temps {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  font-family: "Lobster", cursive;
}

#encart_defaite, #encart_victoire {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#encart_defaite .issuePartie, #encart_victoire .issuePartie {
  font-family: "Lobster", cursive;
  font-size: 2em;
  margin: 1em 0 0.5em;
}

#encart_victoire {
  background: rgba(27, 98, 65, 0.9);
}
#encart_victoire .formulaire {
  position: absolute;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#encart_victoire .issuePartie {
  color: #9f232a;
}
#encart_victoire #scoreJoueur {
  font-family: "Lobster", cursive;
  color: #1b6241;
  font-weight: bold;
  font-size: 3em;
}
#encart_victoire input[type=text] {
  width: 80%;
  border: none;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  line-height: 50px;
  font-size: 1.2em;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#encart_victoire input[type=submit] {
  padding: 0;
  border: none;
  margin-bottom: 0;
}

#encart_defaite {
  background: rgba(159, 35, 42, 0.9);
}
#encart_defaite .defaite_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#encart_defaite .issuePartie {
  color: #fff;
}

#felicitations {
  min-height: 3em;
  font-size: 0.7em;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}

@media all and (max-width: 912px) {
  body {
    font-size: 14px;
  }

  div.interface {
    max-width: 500px;
  }
  div.interface .droite {
    min-height: 580px;
  }
  div.interface .gauche {
    border-radius: 0;
  }

  div.interface .gauche, div.interface .droite {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 1em 0;
  }

  .carte {
    width: 70px;
    height: 70px;
    margin: 4.375px;
  }

  #rejouer {
    margin: 0 auto;
  }

  .jauge {
    width: 463.75px;
    margin: 0 auto;
  }

  #tableauScores {
    position: fixed;
    z-index: 15;
    top: 15px;
    width: 250px;
    height: 290px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.1s linear;
  }
  #tableauScores.tableau_cache {
    left: -250px;
  }
  #tableauScores.tableau_visible {
    left: 0;
  }
  #tableauScores h2#btnMeilleursScores {
    width: 290px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    border-radius: 0 0 30px 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: background-color 0.1s linear;
    transform-origin: top right;
    transform: rotate(-90deg);
  }
  #tableauScores h2#btnMeilleursScores:hover {
    background: #103a26;
  }
  #tableauScores #affichageScores {
    padding: 15px 0 0 0;
    width: 250px;
  }
}
@media all and (max-width: 511px) {
  body {
    font-size: 11px;
  }
  body h1 {
    font-size: 2.3em;
    margin: 0.5em 0;
  }

  #rejouer, #encart_victoire input[type=submit] {
    margin: 0.8em auto;
    line-height: 35px;
    font-size: 1.1em;
  }

  div.interface {
    width: 95%;
  }
  div.interface .gauche {
    padding: 0;
    background: none;
    box-shadow: none;
  }
  div.interface .droite {
    min-height: calc(95vw + 70px);
    padding: 0;
  }

  .carte {
    width: 15%;
    margin: 0.75%;
    height: 0;
    padding-top: 15%;
  }

  #rejouer {
    margin: 0 auto;
    width: 50%;
  }

  .jauge, .jauge #barreProgression, .jauge #temps {
    height: 30px;
    line-height: 30px;
  }

  .jauge {
    width: 100%;
    margin: 0 auto 10px;
  }

  #tableauScores {
    top: inherit;
    bottom: -290px;
    width: 95%;
    height: 210px;
    transition: bottom 0.1s linear;
  }
  #tableauScores.tableau_cache {
    left: inherit;
    bottom: -210px;
  }
  #tableauScores.tableau_visible {
    left: inherit;
    bottom: 0;
  }
  #tableauScores h2#btnMeilleursScores {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 0;
    border-radius: 30px 30px 0 0;
    right: inherit;
    top: -35px;
    transform-origin: top left;
    transform: rotate(0);
  }
  #tableauScores #affichageScores {
    padding: 10px 0 0 0;
    width: 100%;
  }

  .ligne_joueur {
    height: 30px;
    line-height: 30px;
    width: 90%;
    margin: 0 auto 10px;
  }
  .ligne_joueur .joueur {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
