body{
    margin: 0;

    h1{
        text-align: center;
    }

    div.container{

        .plateau{
            max-width: 650px;
            margin: 0 auto;
            text-align: center;

        }

        .informations{
            max-width: 650px;
            margin: 0 auto;

        }

    }

}

.carte{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    cursor: pointer;

    &.masquee{
        border: 1px solid #aaa;
    }

    &.visible{
        border: 1px solid #f00;
        background-image: url(../images/cards.png);
    }

    &.validee{
        border: 1px solid #0f0;
    }
}